@page
@model SibersTestTask.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].IdLeadProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].NameProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].NameContractorCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].NameClientCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLeadProject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameProject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameContractorCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameClientCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdProject">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdProject">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdProject">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
